@using Common
@model TelerikMovies.Web.Models.Movie.DetailedMovieViewModel
@{
    ViewBag.Title = "Details";
    var id = Model.Id.ToString();
    var date = Model.ReleaseDate.ToString("dd MMM yyyy");
    var userImgUrl = ViewData[Constants.UserImgUrl];
    var saveCommentUrl = Url.Action("SaveComment", "Comment");
    var deletCommentUrl = Url.Action("Delete", "Comment");
    var partialUrlForComments = Url.Action("GetAllNotDeletedCommentsForAMovie", "Comment", new { id = id });
}



<div class="row">
    <div class="col s12 m12 l5">
        <div class="container movie-foto-container">
            <img id="movie-photo" class="materialboxed responsive-img" width="270" src="@(Model.ImgUrl)" />
        </div>
        <div class="row">
            <div class="input-field offset-s2 col s9">
                <span>Release Date: @date</span>
            </div>
        </div>
        <div class="row">
            <div class="offset-s3 col s3">
                <i class="material-icons left vote">thumb_up</i>
                @Model.Likes
            </div>
            <div class="col s3">
                <i class="material-icons left vote">thumb_down</i>
                @Model.Dislikes
            </div>
        </div>
    </div>
    <div class="col s12 m12 l7">
        <h4>@Model.Name</h4>
        <div class="video-container">
            <iframe width="100%" height="auto" src="@Model.TrailerUrl" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <span>Info: </span>
                @Html.DisplayFor(m => m.Description)
            </div>
        </div>
        @Html.Action("GetAllNotDeletedCommentsForAMovie", "Comments", new { id = id })
        <input id="MovieId" type="hidden" value="@id" />
        <input id="UserName" type="hidden" value="@User.Identity.Name" />
        <input id="UserImgUrl" type="hidden" value="@userImgUrl" />
        <input id="SaveCommentUrl" type="hidden" value="@saveCommentUrl" />
        <input id="DeletCommentUrl" type="hidden" value="@deletCommentUrl" />
        <input id="RenderPartialComments" type="hidden" vale="@partialUrlForComments" />
    </div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/PageScripts/details-movie.js"></script>
}

@section css{
    <link href="~/Content/PageCss/detail-movie.css" rel="stylesheet" />
}
