@using TelerikMovies.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="row center-align">
    <h2>Please, login into your account</h2>
</div>
<div class="row">
    <div class="col s5 left left-align">
        @*<h2>@ViewBag.Title</h2>*@
    </div>
    <section id="loginForm" class="col s7 grey lighten-4 z-depth-5">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Login</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "red-text text-darken-4" })
            <div class="row">
                <div class="input-field offset-s1 col s10 name-container">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "red-text text-darken-4" })
                </div>
            </div>
            <div class="row">
                <div class="input-field offset-s1 col s10 name-container">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red-text text-darken-4", data_length = "6" })
                </div>
            </div>

                <div class="row">
                    <div class="offset-s1 col s3">
                        <span>Remember Me </span>
                        @*@Html.LabelFor(m => m.RememberMe)
                            @Html.CheckBoxFor(m => m.RememberMe)*@
                    </div>
                    <div class="col s8">
                        <div class="switch">
                            <label>
                                Off
                                <input type="checkbox" id="RememberMe" name="RememberMe" value="true" />
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field offset-s1 col s10 name-container">
                        <button class="btn waves-effect waves-light  yellow accent-4" type="submit" name="action">
                            Log in
                            <i class="material-icons right">send</i>
                        </button>
                        <a class="btn waves-effect waves-light  yellow accent-4" href="@Url.Action("Register", "Account")" title="Register"><i class='material-icons left'>person_add</i>Register</a>
                    </div>
                </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
