@{
    Object messages = ViewBag.Result;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @RenderSection("css", required: false)
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    <div class="navbar-fixed">
        <nav class="purple lighten-1">
            <div class="nav-wrapper">
                <a href="/home/index" class="brand-logo left">
                    <img class="logo shadowed"  src="~/Img/Logo.png" />
                </a>
                <a href="#" data-activates="mobile-menu" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="hide-on-med-and-down right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </nav>
    </div>
    <ul class="side-nav secondary-color" id="mobile-menu">
        <li>
            <h5 class="center">
                <span class="purple-text text-lighten-1"><i class="material-icons">folder_shared</i>Menu</span>
            </h5>
            <div class="divider"></div>
        </li>
        @Html.Partial("_LoginPartial")
    </ul>
    <div class="container">
        <div class="offset-s2 col s8">
            <br />
            @if (messages != null)
            {
                Html.RenderPartial("_Messages", messages);
            }
            @Html.Partial("_Loader")
            <div class="main-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="page-footer  pink accent-1">
        <div class="footer-copyright">
            <div class="row">
                <div class="col s12 center-align">
                    <a class="waves-effect waves-purple btn btn-flat footer-button " href="@Url.Action("Contact", "Home")" title="Contact"><i class='material-icons left'>contact_mail</i>Contact</a>
                    <a class="waves-effect waves-purple btn btn-flat footer-button" href="@Url.Action("About", "Home")" title="About"><i class='material-icons left'>info</i>About</a>
                </div>
                <div class="col s12">
                    <div class="container">
                        <hr />
                        <p class="center-align">&copy; @DateTime.Now.Year - MovieHub All RIGHTS RESERVED</p>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/PageScripts/main.js"></script>
</body>
</html>
