<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    <div class="navbar-fixed">
        <nav class="purple lighten-1">
            <div class="nav-wrapper">
                <a href="/home/index" class="brand-logo left">
                    <img class="logo" src="~/Img/Logo.png" />
                </a>
                <a href="#" data-activates="mobile-menu" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="hide-on-med-and-down right">
                    <li>@Html.ActionLink("Create", "Create")</li>
                    <li>@Html.ActionLink("Edit", "Edit")</li>
                    <li>@Html.ActionLink("All", "GetAll")</li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="side-nav purple lighten-1" id="mobile-menu">
        <li>
            <h5 class="center">
                <i class="material-icons">local_movies</i>
                <span class="white-text">Movies</span>
            </h5>
            <div class="divider"></div>
        </li>
        <li>@Html.ActionLink("Create", "Create", null, new { @class = "white-text" })</li>
        <li>@Html.ActionLink("Edit", "Edit", null, new { @class = "white-text" })</li>
        <li>@Html.ActionLink("All", "GetAll", null, new { @class = "white-text" })</li>
    </ul>
    <div class="container">
        @Html.Partial("_Loader")
        <div id="main-content">
            @RenderBody()
        </div>
    </div>
    <footer>
        <hr />  
        <p class="center-align">&copy; @DateTime.Now.Year - MovieHub All RIGHTS RESERVED</p>
    </footer>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/PageScripts/main-admin.js"></script>
</body>
</html>