@model TelerikMovies.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<br />
<br />
<div class="row">
    <div class="col s6 offset-s3 grey lighten-4 z-depth-5">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
            {
            @Html.AntiForgeryToken()
            <h4>Change Password Form</h4>
            <hr />
            <div class="row">
                <div class="input-field offset-s1 col s10 ">
                    @Html.ValidationSummary("", new { @class = "red-text text-darken-4" })
                </div>
            </div>
            <div class="row">
                <div class="input-field offset-s1 col s10 ">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "red-text text-darken-4", data_length = "6" })
                </div>
            </div>
                <div class="row">
                    <div class="input-field offset-s1 col s10 ">
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "red-text text-darken-4", data_length = "6" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field offset-s1 col s10 ">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "red-text text-darken-4", data_length = "6" })
                    </div>
                </div>
                <div class="row">
                    <div class="offset-s1 col s10 ">
                        <button class="btn waves-effect waves-light  yellow accent-4" type="submit" name="action">
                            Change password
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
